<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Sixtyfour&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <title>ThalamOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
</head>

<body onload="setup()"">
    <header>
        <div class="logo-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                <path d="M8.33331 43.75V18.75L25 6.25L41.6666 18.75V43.75H37.5V20.8333L25 11.4583L12.5 20.8333V43.75H8.33331ZM18.75 39.5833H31.25V35.4167H18.75V39.5833ZM18.75 31.25H31.25V27.0833H18.75V31.25ZM14.5833 43.75V22.9167H35.4166V43.75H14.5833Z" fill="#ffffff"/>
            </svg>
            <span>
                Thalam
            </span>
            <span class="logo-os">OS</span>
        </div>
    </header>
    <div class="createForm">
        <div class="buttons">
            <a href="/" class="btn green">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" fill="#FFFFFF"/></svg>
                back to search
            </a>
        </div>
        <form id="createForm">
            <label>name</label><input type="text" name="name"  required ></input>
            <div class="rowform">
                <label>type</label>
                <select id="type" name="type" required>
                    <option value="sensor">sensor</option>
                    <option value="screw">screw</option>
                    <option value="nail">nail</option>
                    <option value="display">display</option>
                    <option value="cable">cable</option>
                    <option value="misc">miscellaneous</option>
                    <option value="motor-driver">Motor driver</option>
                </select>
                <label>position</label>
                <input type="number" name="position" style="width: 30%"  required ></input>
            </div>
            <label>JSON Info</label>
            <div id="jsonArea">
                <button formnovalidate type="button" onclick="addPairInput()" >add new value pair</button>
                <button formnovalidate type="button" onclick="removePairInput()">remove value pair</button>

                <div id="JSONpairs">
                    <div class="pair">
                        <input type="text" placeholder="key"></input><input type="text" placeholder="value"></input>
                    </div>
                </div>
            </div>
            <input type="submit"  id="addItemSubmit" value="add item">
        </form>

    </div>
    <dialog id="error" closed>
        <p>Please fill in all required fields</p>
        <button onclick="document.getElementById('error').close();">close</button>
    </dialog>


    <div id="chat-icon" onclick="openChat()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M323-160q-11 0-20.5-5.5T288-181l-78-139h58l40 80h92v-40h-68l-40-80H188l-57-100q-2-5-3.5-10t-1.5-10q0-4 5-20l57-100h104l40-80h68v-40h-92l-40 80h-58l78-139q5-10 14.5-15.5T323-800h97q17 0 28.5 11.5T460-760v160h-60l-40 40h100v120h-88l-40-80h-92l-40 40h108l40 80h112v200q0 17-11.5 28.5T420-160h-97Zm237 0q-33 0-56.5-23.5T480-240q0-23 11-40.5t29-28.5v-342q-18-11-29-28.5T480-720q0-33 23.5-56.5T560-800q33 0 56.5 23.5T640-720q0 23-11 40.5T600-651v101l80-48q0-34 23.5-58t56.5-24q33 0 56.5 23.5T840-600q0 33-23.5 56.5T760-520q-11 0-20.5-2.5T721-530l-91 55 101 80q7-3 14-4t15-1q33 0 56.5 23.5T840-320q0 33-23.5 56.5T760-240q-37 0-60.5-28T681-332l-81-65v89q18 11 28.5 28.5T639-240q0 33-23 56.5T560-160Z" fill="#FFFFFF"/></svg>
    </div>
    <div class="chat-popup" id="myForm">
            <div id="chatbox"></div>
            <div class="chat-form">
                <textarea placeholder="Type message.." name="msg" id="msg"></textarea>
                <button type="submit" class="send-btn green" onclick="sendMessage()">Send</button>
            </div>

    </div>
</body>
<script type="text/javascript" src="/static/logging.js"></script>
<script>
    environment = {};
    const API_URL = `${window.location.origin}`;
    function addPairInput(){
        pairWrapper = document.createElement("div")
        pairWrapper.className = "pair"

        key = document.createElement("input")
        key.type = "text"
        key.placeholder = "key"

        value = document.createElement("input")
        value.type = "text"
        value.placeholder = "value"

        pairWrapper.append(key)
        pairWrapper.append(value)
        document.getElementById("JSONpairs").append(pairWrapper)
    }
    function removePairInput(){
        toDelete = document.getElementsByClassName("pair")
        toDelete = toDelete[toDelete.length -1]
        toDelete.remove();

    }
    document.getElementById("addItemSubmit").addEventListener('click',
    function(event){
        event.preventDefault();
        if(!document.getElementById("createForm").checkValidity()){
            document.getElementById("error").showModal();
            return;

        }
        jsonPairs = Array.from(document.getElementsByClassName("pair"));
        name = document.querySelector('input[name=name]').value
        type = document.getElementById("type").value
        position = document.querySelector('input[name=position]').value
        let json = {};
        jsonPairs.forEach(pair => {
            key = pair.children[0].value;
            value = pair.children[1].value;
            json[key] = value;
        });
        const response = fetch(`${API_URL}/sendCreation`, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: name,
                type: type,
                position: position,
                info: json
            })
        });
        document.getElementById("createForm").reset();
    }
    )

    async function setup(){
        document.getElementById("chat-icon").style.visibility = "hidden";
        jsonArea = document.getElementById("jsonArea")
        response = await fetch(`${API_URL}/config/env`)
        env = await response.json()
        sendLog('info', `Environment: ${JSON.stringify(env)}`);
        environment = env
        var head = document.getElementsByTagName('head')[0];
        if(env["IS_SCALE_ENABLED"]){
            sendLog('info', 'Scale is enabled');
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = "/static/weight.js";
            head.appendChild(script);
            const scaleButton = document.createElement("button");
            scaleButton.type = "button";
            scaleButton.textContent = "measure weight";
            scaleButton.id = "scaleButton";
            scaleButton.onclick = function() {
                getWeight();
            };
            jsonArea.insertBefore(scaleButton, jsonArea.children[2]);
        }
        if(env["IS_OLLAMA_ENABLED"]){
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = "/static/chatbot.js";
            head.appendChild(script);
            document.getElementById("chat-icon").style.visibility = "visible";
        }
    }



</script>

</html>
